.default-header{
  position: inherit;
}
body > .container:not(.notConnected){
  padding-top: 20px;
}

.section-gap{
  padding: 50px 0 !important;
}


.meta-bottom{
    display: flex;
    flex-direction: row;
    width: 90%;
}
.admin-form {
    width: 80%;
    margin: 0 AUTO;
    margin-top: 200px;
    margin-bottom: 200px;
}
.title-admin-form {
    margin-bottom: 50px;
}

.mtop100{
    margin-top: 100px;
}

.vrmedia-gallery{
  max-width:567px;margin:5rem auto;background:white;padding:20px;box-shadow:rgb(100 100 111 / 20%) 0px 7px 29px 0px;border-radius:8px;backdrop-filter:opacity(0.5)
}
.vrmedia-gallery img{
  object-fit:cover;
  width:100%
}
.vrmedia-gallery .lSGallery{
  display:inline-flex
}
.vrmedia-gallery .lSGallery li{
  border-radius:12px !important
}
.vrmedia-gallery .lSGallery li.active{
  border:1px solid #242423
}


/** LOGIN **/
:root{
    --main-bg:#d52d12;
  }

  .main-bg {
    background: var(--main-bg) !important;
  }

  input:focus, button:focus {
    border: 1px solid var(--main-bg) !important;
    box-shadow: none !important;
  }

  .form-check-input:checked {
    background-color: var(--main-bg) !important;
    border-color: var(--main-bg) !important;
  }
  .registerLink{
    align-self: center;
  }
  .card-body{
    display: flex;
    flex-direction: column;
  }
  .card, .btn, input{
    border-radius:0 !important;
  }


  /** TRICK **/

  .social-media-comments{
    display: flex;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
  }

  .card-footer{
    display: flex;
    justify-content: space-between;
  }
  .card-footer .card--button {
    display: block;
    background-color: #000000;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: 0.3s ease-out;
  }
  .card-footer .card--button:hover {
    background-color: #d52d12;
  }


  .edit-delete-button{
    display: flex;
    justify-content: end;
  }

/** load more **/
  #loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #000000;
    transition: .3s;
  }
  #loadMore:hover {
    color: #fff;
    background-color: #d52d12;
    border: 1px solid #d52d12;
    text-decoration: none;
  }