<!-- start banner Area -->
<div class="card bg-dark text-white">
	<img src="img/header-bg.jpg" class="card-img img-fluid" alt="">
	<div class="card-img-overlay d-flex flex-column">
		<h1 class="card-title text-center text-light">Snow-tricks</h5>
		<h2 class="card-text text-center text-light">Everything about your favorite sport!</h2>
		<a href="#tricks" class="btn-down btn btn-primary btn-floating position-absolute btn-lg top-50 end-0 translate-middle-y" id='btn-scroll-down'>
			<span class="lnr lnr-arrow-down"></span>
		</a>
	</div>
</div>
