
{% extends 'base.html.twig'%}
{% block body %}
{% include 'banner.html.twig' %}
<div class="container home">
<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
{% for trick in tricks %}
          {% if loop.index > 6 %}
            <div class="trick d-none">
            {% else %}
            <div class="trick">
            {% endif %}
    <div class="card">
		<img class="card-img-top" src="{{ asset('uploads/trick/'~trick.illustrationsFilenames.0)}}" width="350px" height="300px">
      <div class="card-body">
        <h5 class="card-title">{{trick.name}}</h5>
        <p class="card-text">{{trick.description[:20]}} ...</p>
	  </div>
	  <div class="card-footer">
					<a href="#" class="card--button">
						<span class="lnr lnr-pencil"></span>
					</a>
					<a href="#" class="card--button">
						<span class="lnr lnr-trash"></span>
					</a>
				</div>
    </div>
  </div>
  {% endfor %}

</div>
	<button id="loadMore">Load More</button>
	</div>
{% endblock %}