{% extends 'base.html.twig' %}

{% block title %}Edit Trick
{% endblock %}

{% block body %}
	<div class="container p-3 col-lg-6 ">
		<h1 class="mb-5">Edit Trick</h1>
		{{ include('trick/_form.html.twig', {'button_label': 'Update'}) }}
	</div>
{% endblock %}
