{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}
{% block body %}

<div class="container">
<h1>Create new Trick</h1>
<div class="card-body">
    {{ include('trick/_form.html.twig') }}
</div>
</div>
    <a href="{{ path('app_trick_index') }}">back to list</a>
{% endblock %}
